.header {
    padding: 2.5rem 3rem 0 0;
    display: flex;
    justify-content: right;

    @media screen and (max-width: 750px) {
        padding: 1rem 1rem;
    }
}

.link {
    background-color: #fba036;
    color: white;
    padding: 1rem 1.5rem;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    border-radius: 2rem;

    @media screen and (max-width: 750px) {
        font-size: 16px;
        padding: 0.5rem 1rem;
        border-radius: 1.25rem;
    }

    &:active {
        transform: scale(0.98);
    }

    &:hover {
        filter: brightness(95%);
    }
}